body {
  justify-content: center;
  overflow: hidden;
}
.container {
  justify-content: center;
  overflow: hidden;
  width: 50vw;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1em;
  margin-top: 2%;
  margin-bottom: 3%;
}

.cont1 {
  background-color: rgb(6, 6, 144);
}
.cont2 {
  background-color: rgb(243, 200, 149);
}
.pay-head {
  padding-left: 4vw;
  padding-top: 5vw;
  color: #fff;
  background-color: rgb(6, 6, 144);
}
.pay-convert {
  padding-top: 10%;
  padding-left: 5vw;
  background-color: rgb(6, 6, 144);
  width: 20vw;
  padding-bottom: 2vw;
}
.pay-convert1 {
  padding-top: 10%;
  padding-left: 5vw;
  background-color: rgb(243, 200, 149);
  width: 20vw;
  padding-bottom: 2vw;
}
.pay-convert input {
  height: 5vw;
  width: 25vw;
  background-color: rgb(6, 6, 144);
  color: rgb(243, 200, 149);
  font-size: 2.5vw;
  border-bottom: 3px solid #fff;
  border-left: solid rgb(6, 6, 144);
  border-right: solid rgb(6, 6, 144);
  border-top: solid rgb(6, 6, 144);
}
.pay-convert input[type="text"]:focus {
  outline: none;
  border-left-color: solid rgb(6, 6, 144);
  border-right-color: solid rgb(6, 6, 144);
  border-top-color: solid rgb(6, 6, 144);
  border-top-color: solid rgb(6, 6, 144);
}
.pay-convert1 input {
  height: 5vw;
  width: 25vw;
  background-color: rgb(243, 200, 149);
  color: rgb(6, 6, 144);
  font-size: 2.5vw;
  border-bottom: 3px solid #fff;
  border-left: solid rgb(243, 200, 149);
  border-right: solid rgb(243, 200, 149);
  border-top: solid rgb(243, 200, 149);
}
.pay-convert1 input[type="text"]:focus {
  outline: none;
  border-left-color: solid rgb(243, 200, 149);
  border-right-color: solid rgb(243, 200, 149);
  border-top-color: solid rgb(243, 200, 149);
  border-top-color: solid rgb(243, 200, 149);
}

.dropdown {
  width: 4rem;
  height: 2.5rem;
  font-size: 1vw;
  border-radius: 5px;
  margin: 0.3vw;
  background-color: transparent;
  color: #fff;
}
.dropdown select{
  height:10px
}

.toggle {
  height: fit-content;
  background-color: rgb(123, 120, 120);
  color: #fff;
  font-size: 1.5vw;
  
}