<div class="container">
    <form>
        <div class="cont1">
            <h1 class="pay-head">PayPay</h1>
            <hr>
            <div class="pay-convert">

                <input type="text" [placeholder]="selectedCurrency" name="selectedTo" [(ngModel)]="amount1"
                    (change)="data1()">
                <select class="dropdown" [(ngModel)]="selectedCurrency" name="selectedTo" id="currency">
                    <option *ngFor="let select of selectedTo | keyvalue" class="toggle" [value]="select.key">
                        {{select.key}}</option>
                </select>
            </div>
        </div>
        
        <div class="cont2">
            <div class="pay-convert1">
                <input type="text" list="selected" name='selectedFrom' [placeholder]="selectedCurrencyFrom"
                    [(ngModel)]="amount2" (change)="data()">

                <select class="dropdown" [(ngModel)]="selectedCurrencyFrom" name="selectedFrom" id="currency">
                    <option *ngFor="let select of selectedFrom|keyvalue" class="toggle" [value]="select.key">
                        {{select.key}}</option>

                </select>

            </div>
        </div>
    </form>

</div>